pkgbase = python-ovos-backend-client
	pkgdesc = api client for supported ovos-core backends
	pkgver = 0.0.7a6
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-backend-client
	arch = any
	license = custom:Apache2
	depends = python
	depends = python-json-database
	depends = python-ovos-utils
	depends = python-requests
	noextract = ovos_backend_client-0.0.7a6-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/11/4e/50222d153122241739f2f35b125b6c931e65715d1427d8c871c788572676/ovos_backend_client-0.0.7a6-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 0941a29f6feb799b1edc53342163e0bd
	md5sums = 5d00ad131cf9e051d0b0dc61f7ea003d

pkgname = python-ovos-backend-client
