pkgbase = python-onnxruntime
	pkgdesc = ONNX Runtime is a runtime accelerator for Machine Learning models
	pkgver = 1.14.1
	pkgrel = 00
	url = https://onnxruntime.ai
	arch = aarch64
	arch = x86_64
	license = MIT
	depends = python
	depends = python-coloredlogs
	depends = python-flatbuffers
	depends = python-numpy
	depends = python-packaging
	depends = python-protobuf
	depends = python-sympy
	depends = python-setuptools
	depends = python-requests
	noextract = onnxruntime-1.14.1-cp310-cp310-manylinux_2_17_aarch64.manylinux2014_aarch64.whl
	noextract = onnxruntime-1.14.1-cp310-cp310-manylinux_2_17_aarch64.manylinux2014_aarch64.whl
	noextract = onnxruntime-1.14.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
	noextract = onnxruntime-1.14.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
	noextract = onnxruntime-1.14.1-cp310-cp310-manylinux_2_27_aarch64.whl
	noextract = onnxruntime-1.14.1-cp310-cp310-manylinux_2_27_x86_64.whl
	options = !strip
	source = PKGBUILD_EXTRAS
	source = LICENSE
	md5sums = SKIP
	md5sums = 3ddc9ea27f7286b3d3de7cbf734ffd09
	source_aarch64 = https://files.pythonhosted.org/packages/75/a0/306daa2b5c090791cfc2ffed505478a02d3c771343988c5d5f3cf02c0d59/onnxruntime-1.14.1-cp310-cp310-manylinux_2_27_aarch64.whl
	md5sums_aarch64 = 6cb1c4f1064308350ff65d8c31a1551a
	source_x86_64 = https://files.pythonhosted.org/packages/f8/c7/d2f32b66bebf9ee34ac3a8a5f70a55f4afd6027d0a353bd578ccabba1915/onnxruntime-1.14.1-cp310-cp310-manylinux_2_27_x86_64.whl
	md5sums_x86_64 = 80b5df746714d83c2345b063d43ef014

pkgname = python-onnxruntime
