pkgbase = python-ovos-utils
	pkgdesc = collection of simple utilities for use across the mycroft ecosystem
	pkgver = 0.0.33a6
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos_utils
	arch = any
	license = custom:Apache
	depends = python
	depends = python-json-database
	depends = python-kthread
	depends = python-pexpect
	depends = python-pyee
	depends = python-requests
	depends = python-watchdog
	noextract = ovos_utils-0.0.33a6-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/3c/3d/f431511e858fb33e31ee29f0f7ab4925644eb634abcc0b838f94b91e669a/ovos_utils-0.0.33a6-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 98265e7f3f260ebcfe16551d03e76800
	md5sums = b1e01b26bacfc2232046c90a330332b3

pkgname = python-ovos-utils
