pkgbase = python-ovos-bus-client
	pkgdesc = OVOS Messagebus Client
	pkgver = 0.0.4a10
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-bus-client
	arch = any
	license = Apache
	depends = python
	depends = python-ovos-config
	depends = python-ovos-utils
	depends = python-pyee
	depends = python-websocket-client
	noextract = ovos_bus_client-0.0.4a10-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/5d/02/5231da3e323a3dc885efd791109c219b8964d0f0e9a11fc9d3d0dbcd5b21/ovos_bus_client-0.0.4a10-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = e99dd54ed6f763d2ff1389537a56b7c1
	md5sums = a5c534c0b0d5eb7b11a937c909109c2c

pkgname = python-ovos-bus-client
