pkgbase = python-ovos-core
	pkgdesc = mycroft-core packaged as a library
	pkgver = 0.0.8a17
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-core
	arch = any
	license = Apache
	depends = python
	depends = python-adapt-parser
	depends = python-combo-lock
	depends = python-ovos-backend-client
	depends = python-ovos-bus-client
	depends = python-ovos-classifiers
	depends = python-ovos-config
	depends = python-ovos-lingua-franca
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	depends = python-ovos-workshop
	depends = python-padacioso
	depends = python-dateutil
	depends = python-requests
	depends = python-watchdog
	depends = python-setuptools
	noextract = ovos_core-0.0.8a17-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/0f/f0/8da46c052c1c33474ab5ad8ab5d25dfa5e8937eed37feaa15337d5fb0d04/ovos_core-0.0.8a17-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 8a6b866fbb9d95e9dbb03c62065a8b3b
	md5sums = 716a6805caa0b351a3f9443d428891e8

pkgname = python-ovos-core
