pkgbase = python-ovos-phal
	pkgdesc = Plugin based Hardware Abstraction Layer for OVOS
	pkgver = 0.0.5a5
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL
	arch = any
	license = custom:apache-2.0
	depends = python
	depends = python-ovos-bus-client
	depends = python-ovos-config
	depends = python-ovos-phal-plugin-color-scheme-manager
	depends = python-ovos-phal-plugin-connectivity-events
	depends = python-ovos-phal-plugin-ipgeo
	depends = python-ovos-phal-plugin-network-manager
	depends = python-ovos-phal-plugin-oauth
	depends = python-ovos-phal-plugin-system
	depends = python-ovos-phal-plugin-wallpaper-manager
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	depends = python-ovos-workshop
	noextract = ovos_PHAL-0.0.5a5-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/a7/bb/cc711b365feb0fd454d0b18286520e40e4d7407801076a1f35b723caaae4/ovos_PHAL-0.0.5a5-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 1c40741857c5e36b6b450f7b308f6673
	md5sums = f8e21961459543cbb99d684336cca043

pkgname = python-ovos-phal
