pkgbase = python-neon-solver-wikipedia-plugin
	pkgdesc = A question solver plugin for ovos/neon/mycroft
	pkgver = 0.0.2a1
	pkgrel = 00
	url = https://github.com/NeonGeckoCom/neon_solver_wikipedia_plugin
	arch = any
	license = custom:bsd3
	depends = python
	depends = python-neon-solvers
	depends = python-requests
	depends = python-simplematch
	depends = python-wikipedia-for-humans
	noextract = neon_solver_wikipedia_plugin-0.0.2a1-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/1c/d6/074342261fe1806f26b2f5ca22604d607c42d56458b6a2c01277062ea527/neon_solver_wikipedia_plugin-0.0.2a1-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 114f7a8e70e27edc5cf2ac3cf7300405
	md5sums = a79ce2be2bec6b27995e6838f1afdfb6

pkgname = python-neon-solver-wikipedia-plugin
