pkgbase = python-itsdangerous
	pkgdesc = Safely pass data to untrusted environments and back.
	pkgver = 2.1.2
	pkgrel = 00
	url = https://palletsprojects.com/p/itsdangerous/
	arch = any
	license = BSD
	depends = python
	depends = python-typing_extensions
	noextract = itsdangerous-2.1.2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/68/5f/447e04e828f47465eeab35b5d408b7ebaaaee207f48b7136c5a7267a30ae/itsdangerous-2.1.2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = efb0813a44f2abd3b7b375cfcb8b95c2
	md5sums = 53603c402b2015364986250ac360fd0e

pkgname = python-itsdangerous
