pkgbase = python-ovos-workshop
	pkgdesc = frameworks, templates and patches for the OpenVoiceOS universe
	pkgver = 0.0.12a25
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/OVOS-workshop
	arch = any
	license = custom:apache-2.0
	depends = python
	depends = python-ovos-backend-client
	depends = python-ovos-bus-client
	depends = python-ovos-config
	depends = python-ovos-lingua-franca
	depends = python-ovos-utils
	depends = python-rapidfuzz
	noextract = ovos_workshop-0.0.12a25-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/31/8d/ff3c421eaa23eaa69104e111f94464ab9a3048e3e5c1340257624978d2c3/ovos_workshop-0.0.12a25-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 603408cc27f02487adecf024d28915ea
	md5sums = 045edd5501b7c33e6848b421aa2d9e1e

pkgname = python-ovos-workshop
