pkgbase = python-ovos-dinkum-listener
	pkgdesc = ovos-core listener daemon client
	pkgver = 0.0.2a17
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-dinkum-listener
	arch = any
	license = Apache
	depends = python
	depends = python-ovos-backend-client
	depends = python-ovos-bus-client
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	depends = python-pyalsaaudio
	depends = python-sdnotify
	depends = python-speechrecognition
	noextract = ovos_dinkum_listener-0.0.2a17-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/43/6f/ed62367259d8c5da6a3d1c3b325304108e062170fdacd404c1ef64554ca0/ovos_dinkum_listener-0.0.2a17-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 3aff4d1c0d0bfd8d7aa18e85e4d3bdce
	md5sums = a5c534c0b0d5eb7b11a937c909109c2c

pkgname = python-ovos-dinkum-listener
