pkgbase = python-ovos-ww-plugin-precise-lite
	pkgdesc = A wake word plugin for OpenVoiceOS
	pkgver = 0.1.2
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ww-plugin-precise-lite
	arch = any
	license = Apache
	depends = python
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	depends = python-precise-lite-runner
	depends = python-requests
	noextract = ovos_ww_plugin_precise_lite-0.1.2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/4f/4c/098d4e8f398496cb6f3c522889fd68b8b42a979282f93e2fee38049a4aee/ovos_ww_plugin_precise_lite-0.1.2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 0034a94c62d9926335ab829a7f63a4f1
	md5sums = 045edd5501b7c33e6848b421aa2d9e1e

pkgname = python-ovos-ww-plugin-precise-lite
