pkgbase = python-mycroft-mimic3-tts
	pkgdesc = A fast and local neural text to speech system for Mycroft
	pkgver = 0.2.4
	pkgrel = 00
	url = http://github.com/MycroftAI/mimic3
	arch = any
	license = AGPL3
	depends = python
	depends = python-dataclasses-json
	depends = python-epitran
	depends = python-espeak-phonemizer
	depends = python-gruut
	depends = python-numpy
	depends = python-onnxruntime
	depends = python-phonemes2ids
	depends = python-quart
	depends = python-quart-cors
	depends = python-requests
	depends = python-swagger-ui-py
	depends = python-tqdm
	depends = python-xdgenvpy
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/46/11/8f92f01da9cc41247008856438aa052cc93f74e4ac12ff250eb96a44249a/mycroft_mimic3_tts-0.2.4.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = 06fd113cddd96a31c6eea5ed416aabe8
	md5sums = eb1e647870add0502f8f010b19de32af

pkgname = python-mycroft-mimic3-tts
