pkgbase = python-rapidfuzz
	pkgdesc = rapid fuzzy string matching
	pkgver = 3.0.0
	pkgrel = 00
	url = https://github.com/maxbachmann/RapidFuzz
	arch = x86_64
	license = MIT
	makedepends = cython
	depends = python
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/70/05/4030a8a7aa42d3e40ba7abf902de8e7e94ddcb61abda23f6a3ec5daf36df/rapidfuzz-3.0.0.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = d3c6390b0254476bf68e0e87eec17e70
	md5sums = dcd1023081943827dd63f01dc3fda218

pkgname = python-rapidfuzz
