pkgbase = python-neon-utils
	pkgdesc = Utilities for NeonAI
	pkgver = 1.5.0a3
	pkgrel = 00
	url = https://github.com/neongeckocom/neon-skill-utils
	arch = any
	license = custom:BSD-3-Clause
	depends = python
	depends = python-combo-lock
	depends = python-geopy
	depends = python-mycroft-messagebus-client
	depends = python-nltk
	depends = python-ovos-config
	depends = python-ovos-lingua-franca
	depends = python-ovos-utils
	depends = python-ovos-workshop
	depends = python-pendulum
	depends = python-yaml
	depends = python-timezonefinder
	depends = python-setuptools
	depends = python-requests
	noextract = neon_utils-1.5.0a3-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/23/7f/d163e071afeeb28658065443433c573ebe2e7ac578ecd9f2315ae452288e/neon_utils-1.5.0a3-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = e2437f79fb3b2d92c28b32fe69da11bf
	md5sums = 714c92f4075241d2f6a58035f06fc164

pkgname = python-neon-utils
