pkgbase = python-ovos-plugin-common-play
	pkgdesc = OVOS common play audio service adapter plugin
	pkgver = 0.0.6a1
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ocp-audio-plugin
	arch = any
	license = Apache
	depends = python
	depends = python-dbus-next
	depends = python-ovos-audio-plugin-simple
	depends = python-ovos-bus-client
	depends = python-ovos-ocp-files-plugin
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	depends = python-ovos-workshop
	depends = python-padacioso
	noextract = ovos_plugin_common_play-0.0.6a1-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/93/fa/2144be639ff05fbba0cce4b7371f496bc9577ad5e927a2926a8a377fdd5c/ovos_plugin_common_play-0.0.6a1-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 98dafb027db91b2c3c19e1a81ce18048
	md5sums = 045edd5501b7c33e6848b421aa2d9e1e

pkgname = python-ovos-plugin-common-play
