pkgbase = python-oauthlib
	pkgdesc = A generic, spec-compliant, thorough implementation of the OAuth request-signing logic
	pkgver = 3.2.2
	pkgrel = 00
	url = https://github.com/oauthlib/oauthlib
	arch = any
	license = BSD
	depends = python
	noextract = oauthlib-3.2.2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/7e/80/cab10959dc1faead58dc8384a781dfbf93cb4d33d50988f7a69f1b7c9bbe/oauthlib-3.2.2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = a9126e7541baee7da8bf1ad3f216c3cd
	md5sums = abd2675e944a2011aed7e505290ba482

pkgname = python-oauthlib
